/*rough 
        <header class="header">
            <div class="content__wrap content__wrap--header">
                <!-- Logo -->
                <div class="container--logo">
                    <img class="logo logo--header" src="C:\Users\vraj1\OneDrive\Documents\Programming\Mywork\HTML\Projects\Vraj-Patel\Logo\logo-VP.svg" width="100px">
                </div>
                <!--Navigation Panel-->
                <ul class="nav nav--header">
                    <a class="nav__item__ach nav__item__ach--header" href="#projects"><li class="nav__item nav__item--header">Projects</li></a>
                    <a class="nav__item__ach nav__item__ach--header" href="#about"><li class="nav__item nav__item--header">About</li></a>
                    <a class="nav__item__ach nav__item__ach--header" href="#contact"><li class="nav__item nav__item--header">Contact</li></a>
                </ul>
            </div>
        </header>
*/

/*------------------------------------------- CSS ------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
.container {
    border: solid brown;
    text-align: center;
    padding-bottom: 0px;
}

/* Global Styling */
.nav__list {
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}
.button {
    width: 220.45px;
    height: 66px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 27.5px;
    font-family: 'Ubuntu', sans-serif;
}
.section__title {
    color: #3F9CA3;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 65px;
    text-align: center;
    line-height: 45px;
}
.section__subtitle {
    font-family: 'Source Sans Pro', sans-serif;
}
.makeItCenter {
    text-align: center;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: none;
}
.logo {
    width: 63.93px;
}
.content__wrap {
    width: 1000px;
    margin: 0px auto;
}
.nav__item {
    padding: 25px;
    color: white;
}
.move__down {
    position: relative;
    top: 705px;
}
.content__wrap {
    z-index: 13;
    width: 90%;
    padding: 0px;
    padding-top: 118px;
    padding-bottom: 118px;
}
/* ------------------------------------ HEADER ----------------------------------- */
header {
    width: 100%;
    height: 70px;
    background-color: #353535;
    position: sticky;
    top: 0px;
    z-index: 12;
    overflow: hidden;
}
.content__wrap--header {
    height: 100%;
    padding: 0px;
}
.container--logo {
    height: 100%;
    float: left;
    display: table;
}
.logo--header {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.nav--header {
    float: right;
    height: 100%;
}
.nav__item__ach--header {
    height: 100%;
    display: table;
    float: left;
}
.nav__item__ach--header:last-child {
    padding-right: 0px;
}
.nav__item--header {
    display: table-cell;
    vertical-align: middle;
}
.nav__item__ach:hover{
    text-decoration: underline red solid  2px;
    text-underline-offset: 5px;
}


/* ------------------------------------ BODY ------------------------------------ */
/* -------------------- HERO ------------------ */
.hero {
    width: 100%;
    background-color: #D6E5DC;
    z-index: 2;
    height: 700px;
    position: fixed;
    margin: 0px;
    padding: 0px;
}
.content__wrap--hero {
    padding-top: 200px;
}
.section__title--hero {
    font-size: 105px;
    line-height: 132px;
    line-height: 73px;
    margin-bottom: 33px;
    margin-top: 0px;
    text-align: left;
}
.section__subtitle--hero {
    font-size: 36px;
    font-weight: bold;
    line-height: 142.69%;
    margin-left: 5px;
    line-height: 23px;
    margin-bottom: 74px;
}
.hero__button {
    margin-top: 50px;
    font-size: 28px;
    padding-top: 12px;
    padding-bottom: 15.29px;
    padding-left: 40px;
    padding-right: 43.07px;
    position: relative;
    margin-left: 5px;
}
.hero__button:hover {
    background-color: white;
    color: red;
    border: red solid 1px;
}
/* -------------------- About Me ------------------ */
.about {
    background-color: white;
    position: relative;
    z-index: 5;
}
.content__wrap--about {
    width: 60%;
}
.section__title--about {
    line-height: 45px;
}
.about__body p {
    margin-top: 81px;
    font-size: 28px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* -------------------- Projects ------------------ */
.projects {
    z-index: 5;
    background-color: #EAEAEA;
    color: black;
}
.heading--projects {
    font-weight: normal;
    font-size: 36px;
    text-underline-offset: 22px;
    color: black;
    font-weight: 400;
}
.project__description {
    margin-top: 35px;
    font-size: 28px;
    float: left;
    display: inline;
    border-top: solid black 1px;
    padding-top: 60px;
    padding-right: 60px;
}
.flex__container__inner--projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    border-right: solid black 1px;
}
.flex__container__outer--projects {
    display: flex;
    margin-top: 104px;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
    /* border: solid gainsboro; */
}
.image--projects {
    width: 303px;
    margin: auto 0px;
    border-radius: 75px;
    border: solid white 5px;
}
/* .grid__container--projects {
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    border: solid red;
}
.heading--projects {
    margin-top: 54px;
    font-weight: normal;
    font-size: 48px;
    text-decoration: underline red;
    text-underline-offset: 22px;
}
.achOne--projects {
    border: solid green;  
}
.image--projects {
    width: 503px;
    margin-top: 52px;
    float: right;
    border: solid red;
}
.project__description {
    margin-top: 44px;
    font-size: 28px;
    float: left;
    display: inline;
} */

/* -------------------- Contact ------------------ */
.contact {
    background-color: #EAB543;
    position: relative;
    z-index: 5;
    padding: 0px;
    margin: 0px;
}
.section__title--contact {
    margin-top: 255px;
    color: black;
    margin-bottom: 8.03px;
    margin-top: 0px;
}
.message--contact {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}
.form--contact {
    margin-top: 81px;
}
::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}
.form__input--contact {
    margin-top: 46.5px;
    height: 91.98px;
    width: 769.91px;
    font-size: 24px;
    padding-left: 22.45px ;
    
}
.form__input1--contact {
    margin-top: 0px;
}
.form__input4--contact {
    height: 288.74px;
    padding-top: 27.76px;
    resize: none;
}
.button--contact {
    margin-top: 43px;
    background-color: #2977C9;
    font-size: 28px;
}
.button--contact:hover{
    background-color: white;
    color: blue;
    border: solid blue 1px;
}
.message__privacy {
    text-align: center;
    margin-top: 4.97px;
    line-height: 1;
    margin: 0px;
    padding: 0px;
}
.fa-solid{
    font-size: 12px;
    position: relative;
    bottom: .5px;
    right: 2px;
    margin: 0px;
    padding: 0px;
}



/* ----------------------------------- FOOTER ----------------------------------- */
footer {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #353535;
    z-index: 5;
    text-align: center;
}
.nav--footer {
    display: flex;
    justify-content: center;
}
.logo--footer {
    margin-top: 142.72px;
}
/* -------------------- CREDITS ------------------ */
.credits {
    background-color: #EEEBE4;
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}


